# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [3]:
%run parse_data.ipynb

In [4]:
df.describe()

,value,value_per_100k,year,pollution_avg,pollution_pop_avg,population,affected_pop,area_km2
count,7.834600e+04,78346.000000,78346.0,78346.000000,78346.000000,7.834600e+04,7.834600e+04,7.834600e+04
mean,1.026023e+03,64.465895,2022.0,264.184692,236.566906,2.047130e+06,1.445786e+06,9.008954e+03
std,1.988445e+04,152.151076,0.0,1199.613225,1052.877229,2.061794e+07,1.509341e+07,9.049549e+04
min,0.000000e+00,0.000000,2022.0,0.100000,0.300000,1.782300e+04,2.674000e+03,2.000000e+00
25%,7.000000e+00,3.000000,2022.0,7.400000,9.000000,1.654100e+05,1.107740e+05,5.714000e+02
50%,4.700000e+01,19.000000,2022.0,9.100000,11.500000,3.563360e+05,2.465810e+05,1.347600e+03
75%,2.330000e+02,64.000000,2022.0,12.400000,16.000000,9.651740e+05,6.251110e+05,4.303400e+03
max,2.643630e+06,3728.000000,2022.0,13840.400000,11702.400000,5.582807e+08,5.582716e+08,2.687568e+06