# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [3]:
import pandas as pd

df0 = pd.read_csv('DataExtract.csv')

df0.describe()

,Year,Population,Affected Population,Populated Area [km2],Air Pollution Average [ug/m3],Air Pollution Population Weighted Average [ug/m3],Value,Value - lower CI,Value - upper CI,Value for 100k Of Affected Population,Value for 100k Of Affected Population - lower CI,Value for 100k Of Affected Population - upper CI
count,78346.0,7.834600e+04,7.834600e+04,7.834600e+04,78346.000000,78346.000000,7.834600e+04,7.834600e+04,7.834600e+04,78346.000000,78346.00000,78346.000000
mean,2022.0,2.047130e+06,1.445786e+06,9.008954e+03,264.184692,236.566906,1.026023e+03,5.104116e+02,1.500115e+03,64.465895,31.81985,94.046563
std,0.0,2.061794e+07,1.509341e+07,9.049549e+04,1199.613225,1052.877229,1.988445e+04,1.318589e+04,2.635837e+04,152.151076,106.71077,191.249146
min,2022.0,1.782300e+04,2.674000e+03,2.000000e+00,0.100000,0.300000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.00000,0.000000
25%,2022.0,1.654100e+05,1.107740e+05,5.714000e+02,7.400000,9.000000,7.000000e+00,1.000000e+00,1.100000e+01,3.000000,0.00000,5.000000
50%,2022.0,3.563360e+05,2.465810e+05,1.347600e+03,9.100000,11.500000,4.700000e+01,1.300000e+01,7.300000e+01,19.000000,5.00000,31.000000
75%,2022.0,9.651740e+05,6.251110e+05,4.303400e+03,12.400000,16.000000,2.330000e+02,8.200000e+01,3.590000e+02,64.000000,24.00000,97.000000
max,2022.0,5.582807e+08,5.582716e+08,2.687568e+06,13840.400000,11702.400000,2.643630e+06,2.019089e+06,2.947588e+06,3728.000000,2886.00000,4129.000000

<br> 
<br>

The dependent and independent variables (DVs and IVs) that we are interested in are:

**DVs**:
- Value (the estimated health outcome)
- Value for 100k of Affected Population (standardized health outcome per 100,000 affected people)

**IVs**:
- Year
- Air Pollution Average [ug/m3]
- Air Pollution Population Weighted Average [ug/m3]
- Air Pollutant
- Population
- Affected Population
- Populated Area [km2]
- Degree Of Urbanisation
- Sex
- Description Of Age Group
- Category
- Outcome
- Health Indicator

<br> 
<br>

Let's extract the relevant columns:

In [4]:
df = df0[
    [
        'Value',
        'Value for 100k Of Affected Population',
        'Year',
        'Air Pollution Average [ug/m3]',
        'Air Pollution Population Weighted Average [ug/m3]',
        'Air Pollutant',
        'Population',
        'Affected Population',
        'Populated Area [km2]',
        'Degree Of Urbanisation',
        'Sex',
        'Description Of Age Group',
        'Category',
        'Outcome',
        'Health Indicator'
    ]
]

df.describe()

,Value,Value for 100k Of Affected Population,Year,Air Pollution Average [ug/m3],Air Pollution Population Weighted Average [ug/m3],Population,Affected Population,Populated Area [km2]
count,7.834600e+04,78346.000000,78346.0,78346.000000,78346.000000,7.834600e+04,7.834600e+04,7.834600e+04
mean,1.026023e+03,64.465895,2022.0,264.184692,236.566906,2.047130e+06,1.445786e+06,9.008954e+03
std,1.988445e+04,152.151076,0.0,1199.613225,1052.877229,2.061794e+07,1.509341e+07,9.049549e+04
min,0.000000e+00,0.000000,2022.0,0.100000,0.300000,1.782300e+04,2.674000e+03,2.000000e+00
25%,7.000000e+00,3.000000,2022.0,7.400000,9.000000,1.654100e+05,1.107740e+05,5.714000e+02
50%,4.700000e+01,19.000000,2022.0,9.100000,11.500000,3.563360e+05,2.465810e+05,1.347600e+03
75%,2.330000e+02,64.000000,2022.0,12.400000,16.000000,9.651740e+05,6.251110e+05,4.303400e+03
max,2.643630e+06,3728.000000,2022.0,13840.400000,11702.400000,5.582807e+08,5.582716e+08,2.687568e+06

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [5]:


df = df.rename(columns={
    'Value': 'value',
    'Value for 100k Of Affected Population': 'value_per_100k',
    'Year': 'year',
    'Air Pollution Average [ug/m3]': 'pollution_avg',
    'Air Pollution Population Weighted Average [ug/m3]': 'pollution_pop_avg',
    'Air Pollutant': 'pollutant',
    'Population': 'population',
    'Affected Population': 'affected_pop',
    'Populated Area [km2]': 'area_km2',
    'Degree Of Urbanisation': 'urban_degree',
    'Sex': 'sex',
    'Description Of Age Group': 'age_group',
    'Category': 'category',
    'Outcome': 'outcome',
    'Health Indicator': 'health_indicator'
})

df.describe()

,value,value_per_100k,year,pollution_avg,pollution_pop_avg,population,affected_pop,area_km2
count,7.834600e+04,78346.000000,78346.0,78346.000000,78346.000000,7.834600e+04,7.834600e+04,7.834600e+04
mean,1.026023e+03,64.465895,2022.0,264.184692,236.566906,2.047130e+06,1.445786e+06,9.008954e+03
std,1.988445e+04,152.151076,0.0,1199.613225,1052.877229,2.061794e+07,1.509341e+07,9.049549e+04
min,0.000000e+00,0.000000,2022.0,0.100000,0.300000,1.782300e+04,2.674000e+03,2.000000e+00
25%,7.000000e+00,3.000000,2022.0,7.400000,9.000000,1.654100e+05,1.107740e+05,5.714000e+02
50%,4.700000e+01,19.000000,2022.0,9.100000,11.500000,3.563360e+05,2.465810e+05,1.347600e+03
75%,2.330000e+02,64.000000,2022.0,12.400000,16.000000,9.651740e+05,6.251110e+05,4.303400e+03
max,2.643630e+06,3728.000000,2022.0,13840.400000,11702.400000,5.582807e+08,5.582716e+08,2.687568e+06